<div class="main">
  <div class="d-flex justify-content-md-between">
    <div class="review">
        <i class="fas fa-trophy"></i>
        <h6 class="text-center mt-2">Good</h6>
    </div>
    <div class="review">
        <i class="fas fa-trophy"></i>
        <h6 class="text-center mt-2">Better</h6>
      </div>
      <div class="review" [class.selected]='select'>
          <i class="fas fa-trophy"></i>
          <h6 class="text-center mt-2 ">Best</h6>
        </div>
        <div class="review">
            <i class="fas fa-trophy"></i>
            <h6 class="text-center mt-2">Excellent</h6>
          </div>
          <div class="review" [class.selected]='!select'>
              <i class="fas fa-trophy"></i>
              <h6 class="text-center mt-2">Outstanding</h6>
            </div>
  </div>
  <h1 class="text-center mt-5 mb-5">what they say</h1>
  <div class="comment"></div>
  <div class="mt-4 mb-4 d-flex justify-content-center align-items-center">
      <i class='fas fa-user-circle'></i>
     
      <div class="ml-2 d-flex">
        <p class="ml-2 mr-2">
            <i class="fa fa-quote-left font1"></i>
        </p>
        <div *ngIf='select'>
            <p class="mar">Highly talented people.They know what client wants, I highly recommend others</p>  
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <p><span class="bld">Lorem,</span>xyz</p>
        </div>
        <div *ngIf='!select'>
            <p class="mar">First they Understanding the requirements then start the work. I am satify with their service.</p>  
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <p><span class="bld">Tech,</span>abc</p>
        </div>

      </div>
     
    </div>
  <div class="comment"></div>
  <nav aria-label="Page navigation example" class='mt-4'>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" (click)='change(true)'>First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)='change(true)'>Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#" (click)='change(true)'>1</a></li>
      <li class="page-item"><a class="page-link" href="#" (click)='change(false)'>2</a></li>
      <li class="page-item">
        <a class="page-link" href="#" (click)='change(false)'>Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)='change(false)'>Last</a>
      </li>
    </ul>
  </nav>
</div>